---
layout: default
---

<div class="home">

    <header>
        {% capture intro_text %}{% include intro.md %}{% endcapture %}
        {{ intro_text | markdownify }}
    </header>

    <h2>Patterns</h2>

    <ul>
    {% for pattern in site.patterns %}
        {% if pattern.parent_tag %}
        <li><a href="{{ pattern.url | prepend: site.baseurl }}">
            {{pattern.title}}
        </a></li>
        {% endif %}
    {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
