---
layout: default
---

<div class="home">

    <header class="site-hero">
        <p>
            {{ site.description }}
        </p>
        <div class="site-hero-actions">
            <a href="/about/">Learn More</a>
            <a href="https://github.com/{{ site.github_username }}/{{ site.github_username }}.github.io">Contribute on GitHub</a>
        </div>
    </header>

    <h2>Patterns</h2>

    <ul>
    {% for pattern in site.patterns %}
        {% if pattern.parent_tag %}
        <li><a href="{{ pattern.url | prepend: site.baseurl }}">
            {{pattern.title}}
        </a></li>
        {% endif %}
    {% endfor %}
    </ul>

</div>
