<footer class="site-footer">

<div class="wrapper">

    <div class="footer-wrap">
        <div class="footer-block">
            <h3>Contact</h3>
            <ul class="contact-list">
                <li>{{ site.title }}</li>
                <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                <li><a href="https://github.com/{{ site.github_username }}/{{ site.github_username }}.github.io">Contribute on GitHub</a></li>
            </ul>
        </div>

        <div class="footer-block">
            <h3>Policy</h3>
            <ul class="policy-list">
                <li><a href="/LICENSE/">&copy; 2016</a></li>
                {% for policy in site.policy %}
                <li><a href="{{ policy.url | prepend: site.baseurl }}">
                    {{policy.title}}
                </a></li>
                {% endfor %}
                <li><a href="/CODE_OF_CONDUCT/">Code of Conduct</a></li>
            </ul>
        </div>
    </div>
</div>

</footer>
