.site-header {
    border-bottom: 1px solid $grey-color-light;
    margin-bottom: $spacing-unit;
    padding: 10px 0;

    .site-title {
        display: block;
        font-size: $base-font-size * 2;
        font-weight: bold;
        margin-bottom: 0;
    }
}

.site-hero {
    .site-hero-actions {
        text-align: center;
    }
    .site-hero-actions a {
        display: inline-block;
        padding: 10px;
        font-size: $base-font-size * 1.5;
    }
}

.site-footer {
    border-top: 1px solid $grey-color-light;
    margin-top: $spacing-unit;
    padding: 10px 0;

    .footer-wrap {
        display: flex;
        flex-direction: column;
    }



    @media (min-width: $content-width) {
        .footer-wrap {
            flex-direction: row;
            justify-content: space-between;
        }
        .footer-block {
            padding-left: 10px;
            flex-shrink: 1;
            flex-basis: 100%;
        }
        .footer-block:first-child {
            padding-left: 0;
        }
    }

}
